<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="alternate" type="application/rss+xml" title="Flux du blog" href="https://www.bordet.info/feed.xml" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %}

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />

    <script type="text/javascript">
      window.MathJax = {
        tex: { packages: ['base', 'ams'] },
        loader: { load: ['ui/menu', '[tex]/ams'] }
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55862-2', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- JSON-LD Person -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Julien Bordet",
      "jobTitle": "Directeur Général",
      "url": "https://www.bordet.info",
      "email": "julien@bordet.info",
      "sameAs": [
        "https://www.linkedin.com/in/julienbordet/"
      ]
    }
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
