---
layout: page
---

<div class="post">
	<h2> {{ page.title }} </h2>
	<!-- <span class="date">Posted on {{ page.date | date_to_string }}</span> -->
	<h5>
		{% assign m = page.date | date: "%-m" %}
		{{ page.date | date: "%-d" }}
		{% case m %}
		  {% when '1' %}Janvier
		  {% when '2' %}Février
		  {% when '3' %}Mars
		  {% when '4' %}Avril
		  {% when '5' %}Mai
		  {% when '6' %}Juin
		  {% when '7' %}Juillet
		  {% when '8' %}Aout
		  {% when '9' %}Septembre
		  {% when '10' %}Octobre
		  {% when '11' %}Novembre
		  {% when '12' %}Décembre
		{% endcase %}
		{{ page.date | date: "%Y" }}
		&nbsp; ({{ content | number_of_words }} mots)
	</h5>

        {% if page.image %}
           <img src="/images/blog/{{page.image}}" width="450px" />
        {% endif %}
	
	{{ content }}

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'julienbordet';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



</div>

<hr>
<p></p>

<div class="meta">
	
	{% if page.categories %}
	<span class="categories">
		Publié dans les catégories
		{% for cat in page.categories %}
		<a href="{{ site.url }}/blog/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
		{% endfor %}
	</span>
	{% endif %}
	
	{% if page.tags %}
	<span class="tags">
		Tags
		{% for tag in page.tags %}
		<a href="{{ site.url }}/blog/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
		{% endfor %}
	</span>
	{% endif %}
</div>


<div class="previous_next">
	{% if page.previous %}
	  <a href="{{ page.previous.url }}" title="Post précédent">&larr; précédent</a>
	{% endif %}
	&nbsp;&nbsp;
	{% if page.next %}
	  <a href="{{ page.next.url }}" title="Post suivant">Suivant &rarr;</a>
	{% endif %}
	<br>
	<p>
	<a class="greenbutton" href="/blog/archive/" title="archives de l'ensemble des posts">Voir tous les posts</a>
	</p>
</div>
